apiVersion: apps/v1
kind: Deployment
metadata:
  name: fjord-deployment
  namespace: stock
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: fjord 
  template:
    metadata:
      annotations:
        git-tag: "v57"
        prometheus.io/scrape: "true"
        prometheus.io/port: "3000"
        prometheus.io/path: "/api/metrics"
      labels:
        app: fjord 
    spec:
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred
      containers:
        - name: fjord 
          image: artifacts.tekuro.io/fjord:latest
          env:
            - name: INFLUXDB_URL
              valueFrom:
                secretKeyRef:
                  name: influxdb-secrets
                  key: url
            - name: INFLUXDB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: influxdb-secrets
                  key: token
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: stock-poller-config
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: stock-poller-config
                  key: REDIS_PORT
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
            - name: WS_PUBLIC_URL 
              valueFrom:
                  configMapKeyRef:
                    name: hermes-config 
                    key: WS_PUBLIC_URL 